table{
    border-collapse: collapse;
    width:50%;
    margin:auto;
}
td,th{
    border:1px solid black;
    text-align:center;
}
table th{
    background-color: #4CAF50;
    color:white;
}
tr:hover{background-color: #ddd;}
tr:nth-child(odd){background-color: #f2f2f2;}

.setInput , select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.setInput button[type=submit] {
  width: 100%;
  background-color: #e0b034;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.setinput button[type=submit]:hover {
  background-color: #c9c430;
}

.setInput{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left:35%;
  margin-right:35%;
}

